p {
    width: 80px;    /* This is the content width*/ /*Padding, border and margin are not included by default in this measure*/
    height: 50px;   /* This is the content height*/ /*Padding, border and margin are not included by default in this measure*/

    padding: 50px;
    border: 5px solid red; /* width - style - color */
    margin: 10px;
}

p {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px;

    border-top: 5px solid red; /* top - right - bottom - left */ /* width - style - color */

    margin-top: 10px; /* top - right - bottom - left */
}

p {
    padding: 20px 30px 40px 50px;
    margin: 10px 20px 0px 7px;
}